canvas {
    border:1px solid rgb(185, 185, 185);
    border-radius: 5px;
    box-shadow: 3px 3px 3px #bbb;
}
math {
    text-align: center;
    font-family: 'Crimson Text', serif;
}

.toolbar {
    background-color: red;
}

.form-container {
    display: flex;
    text-align: center;
}

.form-container input {
    margin-left: 20px;
}

.math-text {
    font-family: 'Crimson Text', serif;
}

#plot-container * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

.flex-break {
    /*flex-basis: 100%;
    width:100%;*/
}